@import '../../../styles.scss';

$blue : #4CB5F9;
$gray : rgb(189, 188, 188);

.news__post {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    width: fit-content;
    margin: 0 auto;
    cursor: pointer;

    @include tablet {
        flex-direction: row;
        justify-content: space-evenly;
    }

    &__user-info {
        display: flex;
        flex-direction: column;

        .profile {
            display: flex;
            align-items: center;
            margin-left: 1rem;
            gap: 1rem;

            &-username {
                font-weight: bold;
                cursor: pointer;
            }

            &-image {
                width: 3rem;
                height: 3rem;
                border-radius: 2rem;
            }
        }
    }

    &__image {
        max-width: 70rem;

        img {
            transition: filter 0.3s ease;
    
            &:hover {
                filter: brightness(70%);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            }
        }
    }

    &__info {
        display: grid;
        margin: 2rem 1rem;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);

        @include tablet {
            display: none;
        }

        &-interactions {
            display: flex;
            margin-left: 1rem;
            gap: 2rem;

            @include tablet {
                display: none;
            }

            &-likes {
                width: 3rem;
                margin: 1rem;
            }

            &-comments {
                width: 2.5rem;
            }

            &-desktop {
                display: none;

                @include tablet {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                .post__info-date {
                    display: block;
                }
            }
        }

        &-coments {
            grid-column: span 2;
        }

        &-date {
            margin: 0;
            text-align: end;
            font-size: 1.2rem;

            @include tablet {
                display: none;
            }
        }
    }

}

.card {
    padding: 3rem 0;
    border-color: $gray;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 2rem;
    @include tablet {
        border: none;
    }
}